


.form__input {     
    height: 30px;
    font-size: 0.9em;     
    margin: 10px 10% 0px 10%;
    font-family: sans-serif;
}
.form__uppertext {
    font-size: 1.3em;
    margin: 15px 0 0 10%;     
}
