.form__button-login {
   width: 30%;
   background-color: #A6E49c;
   height: 10%;
   font-size: 1.2em;
   margin: 20px auto;
   font-family: sans-serif;
}
.form__button-singup {
   background-color: #d7d199;
   width: 35%;
}

.form__singup-cancel {
   background-color: #e4a09c;
}
