ul {
    list-style-type: none;
}

.profile__form-avatar {
    height: 8vw;
    width: 8vw;
    background-color: white;
    background-image: url(../../images/avatar.png);
    border-radius: 50%;
    background-size: cover;
    margin: 7% auto 5%;

}
