.err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    text-align: center;
    margin-top: -15%;

}

.err-number {
    margin-top: 10%;
    font-size: 10vw;

}

.err-text {
    margin-top: 5%;
    margin-bottom: 25%;
}

